/*? ================     GOOGLE FONTS      ================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700;1,900&display=swap");

/*? ================     VARIABLE CSS      ================ */
:root {
  --header-height: 3rem;

  /*?=================     COLORS     ===============*/
  /* hsl : hue saturation lightness */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 40%);
  --title-color-dark: hsla(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*?=================== Fonts and typography     ============*/

  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px | 1rem = 16px ... */
  --big-fs: 3.5rem;
  --h1-fs: 2.25rem;
  --h2-fs: 1.5rem;
  --h3-fs: 1.25rem;
  --normal-fs: 1rem;
  --small-fs: 0.875rem;
  --smaller-fs: 0.813rem;
  --tiny-fs: 0.625rem;

  /*?=================== Font weigth   ============*/

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;

  /*?=================== Bottom margin   ============*/

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*?=================== Z Index   ============*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/*?=================== Responsive typography   ============*/
@media screen and (max-width: 992px) {
  :root {
    --big-fs: 2.75rem;
    --h1-fs: 1.5rem;
    --h2-fs: 1.25rem;
    --h3-fs: 1rem;
    --normal-fs: 0.938rem;
    --small-fs: 0.813rem;
    --smaller-fs: 0.75rem;
  }
}

/*?=================== BASE  ============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--font-normal);
}

body {
  background-color: var(--body-color);
  /* color: var(--text-color); */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*?=================== BASE  ============*/

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-fs);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-fs);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*?=================== LAYOUT  ============*/

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*?=================== BUTTONS  ============*/

.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*?=================== BREAKPOINTS ============*/

/* Large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* Medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    padding: 2rem 0 4rem;
  }
}

/* La devices */
@media screen and (max-width: 576px) {
}

/* Small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-fs: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
